## When creating the transit variable, use run this notebook first

In [1]:
import pandas as pd

In [2]:
UPT_df = pd.read_csv('UPT_Cal_Year.csv')
cxw = pd.read_csv('FTA_UZA_County_Xwalk_Ref.csv')

In [3]:
UPT_df.head()

,NTD ID,Legacy NTD ID,Agency,Status,Reporter Type,UZA,UZA Name,Mode,TOS,2002.00,...,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00
0,1.0,1,King County Department of Metro Transit,Active,Full Reporter: Operating,14.0,"Seattle, WA",DR,PT,1616625.0,...,1012714.0,902626.0,870776.0,854155.0,883312.0,887915.0,455391.0,468104.0,552215.0,193683.0
1,1.0,1,King County Department of Metro Transit,Active,Full Reporter: Operating,14.0,"Seattle, WA",DR,TN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45116.0
2,1.0,1,King County Department of Metro Transit,Active,Full Reporter: Operating,14.0,"Seattle, WA",DR,TX,0.0,...,96244.0,110018.0,110665.0,103861.0,143747.0,177791.0,86460.0,88944.0,110794.0,41813.0
3,1.0,1,King County Department of Metro Transit,Active,Full Reporter: Operating,14.0,"Seattle, WA",FB,DO,0.0,...,0.0,0.0,601942.0,599954.0,664365.0,701608.0,146930.0,286843.0,400407.0,88498.0
4,1.0,1,King County Department of Metro Transit,Active,Full Reporter: Operating,14.0,"Seattle, WA",LR,DO,357935.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
UPT_df.dtypes

NTD ID           float64
Legacy NTD ID     object
Agency            object
Status            object
Reporter Type     object
UZA              float64
UZA Name          object
Mode              object
TOS               object
2002.00          float64
2003.00          float64
2004.00          float64
2005.00          float64
2006.00          float64
2007.00          float64
2008.00          float64
2009.00          float64
2010.00          float64
2011.00          float64
2012.00          float64
2013.00          float64
2014.00          float64
2015.00          float64
2016.00          float64
2017.00          float64
2018.00          float64
2019.00          float64
2020.00          float64
2021.00          float64
2022.00          float64
2023.00          float64
dtype: object

In [5]:
#clean and sum across
UPT_df_stg = UPT_df.drop(columns = ['NTD ID','Legacy NTD ID','Agency','UZA Name','Reporter Type','Status', 'TOS', 'Mode'])
UPT_df_stg = UPT_df_stg.groupby(['UZA']).sum()
UPT_df_stg.reset_index(inplace=True)

In [6]:
cxw.head()

,CountyFIPS,1FTA_UZA_Code,1FTA_UZA_Desc,2FTA_UZA_Code,2FTA_UZA_Desc,3FTA_UZA_Code,3FTA_UZA_Desc,4FTA_UZA_Code,4FTA_UZA_Desc
0,1001,142,"Montgomery, AL",NaN,NaN,NaN,NaN,NaN,NaN
1,1003,113,"Pensacola, FL-AL",458.0,"Daphne-Fairhope, AL",NaN,NaN,NaN,NaN
2,1009,55,"Birmingham, AL",NaN,NaN,NaN,NaN,NaN,NaN
3,1015,360,"Anniston-Oxford, AL",NaN,NaN,NaN,NaN,NaN,NaN
4,1033,368,"Florence, AL",NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#adjusting cxw data
df1 = cxw[['CountyFIPS','1FTA_UZA_Code']].rename(columns={'1FTA_UZA_Code': 'UZA_CODE'})
df2 = cxw[['CountyFIPS','2FTA_UZA_Code']].rename(columns={'2FTA_UZA_Code': 'UZA_CODE'})
df3 = cxw[['CountyFIPS','3FTA_UZA_Code']].rename(columns={'3FTA_UZA_Code': 'UZA_CODE'})
df4 = cxw[['CountyFIPS','4FTA_UZA_Code']].rename(columns={'4FTA_UZA_Code': 'UZA_CODE'})
FIPS_UZA = pd.concat([df1, df2, df3, df4]).dropna()
FIPS_UZA

     CountyFIPS  UZA_CODE
0          1001     142.0
1          1003     113.0
2          1009      55.0
3          1015     360.0
4          1033     368.0
..          ...       ...
352       34021     429.0
427       39017     308.0
510       45091     295.0
56         6077     102.0
66         6111     168.0

[754 rows x 2 columns]

In [8]:
UPT_df = UPT_df_stg.merge(FIPS_UZA, how='left', left_on = 'UZA', right_on = 'UZA_CODE')

In [9]:
UPT_df

,UZA,2002.00,2003.00,2004.00,2005.00,2006.00,2007.00,2008.00,2009.00,2010.00,...,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,CountyFIPS,UZA_CODE
0,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34003.0,1.0
1,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34013.0,1.0
2,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34017.0,1.0
3,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34021.0,1.0
4,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34023.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,492.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.413760e+05,4.627690e+05,5.303900e+05,5.273010e+05,5.646280e+05,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,17183.0,492.0
679,600.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,NaN
680,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.866710e+05,8.115520e+05,5.572790e+05,3.016800e+05,2.243330e+05,2.578120e+05,3.134260e+05,76588.0,6017.0,601.0
681,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.866710e+05,8.115520e+05,5.572790e+05,3.016800e+05,2.243330e+05,2.578120e+05,3.134260e+05,76588.0,32005.0,601.0
682,602.0,7.994840e+05,0.000000e+00,8.309980e+05,4.151300e+04,1.055980e+06,1.208217e+06,1.025146e+06,5.080190e+05,6.310130e+05,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.871500e+04,2.016050e+05,71719.0,48167.0,602.0

In [10]:
UPT_df[['CountyFIPS','UZA_CODE']].groupby([ 'CountyFIPS']).count().reset_index().sort_values(by='UZA_CODE', ascending=False)

     CountyFIPS  UZA_CODE
50       6083.0         3
272     26115.0         3
58       6111.0         3
72       9001.0         3
382     39017.0         3
..          ...       ...
211     21089.0         1
212     21093.0         1
213     21101.0         1
214     21111.0         1
606     56025.0         1

[607 rows x 2 columns]

In [11]:
UPT_df.dropna().to_csv('UPT_2002_2023_final.csv')

In [13]:
UPT_df

,UZA,2002.00,2003.00,2004.00,2005.00,2006.00,2007.00,2008.00,2009.00,2010.00,...,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,CountyFIPS,UZA_CODE
0,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34003.0,1.0
1,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34013.0,1.0
2,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34017.0,1.0
3,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34021.0,1.0
4,1.0,3.737069e+09,3.657666e+09,3.802576e+09,3.895268e+09,3.948245e+09,4.047744e+09,4.147642e+09,4.011982e+09,4.083968e+09,...,4.289902e+09,4.251568e+09,4.195425e+09,4.294356e+09,1.898451e+09,2.123008e+09,2.822440e+09,980133490.0,34023.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,492.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.413760e+05,4.627690e+05,5.303900e+05,5.273010e+05,5.646280e+05,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,17183.0,492.0
679,600.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,NaN
680,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.866710e+05,8.115520e+05,5.572790e+05,3.016800e+05,2.243330e+05,2.578120e+05,3.134260e+05,76588.0,6017.0,601.0
681,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,7.866710e+05,8.115520e+05,5.572790e+05,3.016800e+05,2.243330e+05,2.578120e+05,3.134260e+05,76588.0,32005.0,601.0
682,602.0,7.994840e+05,0.000000e+00,8.309980e+05,4.151300e+04,1.055980e+06,1.208217e+06,1.025146e+06,5.080190e+05,6.310130e+05,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.871500e+04,2.016050e+05,71719.0,48167.0,602.0