In [1]:
import pandas as pd
import numpy as np

In [30]:
#Pulling in all of the 2016-2020 data, then moving down to just Interstate and other principal arterial

df = pd.read_csv('Concat_data_2016_2020.csv')
df = df.apply(pd.to_numeric, errors = 'coerce').fillna(0)
df

,ST,CO,RINT,ROFE,ROPA,RmART,RMCOLL,RmCOLL,RLOC,RTOT,UINT,UOFE,UOPA,UmART,UMCOLL,UmCOLL,ULOC,UTOT,YEAR
0,1.0,1.0,542253.47,0.0,81363.17,179803.30,144347.90,0.0,0.0,0.0,78954.19,0.0,252979.47,147280.79,96769.33,0.00,0.0,0.0,2016.0
1,1.0,3.0,1555496.62,0.0,500149.43,633085.03,439257.73,0.0,0.0,0.0,536207.40,0.0,1721101.11,1335508.96,758756.15,5241.63,0.0,0.0,2016.0
2,1.0,5.0,0.00,0.0,125438.60,126057.30,127182.33,0.0,0.0,0.0,0.00,0.0,247580.40,38071.48,60032.75,0.00,0.0,0.0,2016.0
3,1.0,7.0,0.00,0.0,248494.80,114772.45,103297.69,0.0,0.0,0.0,0.00,0.0,66264.57,5349.06,38714.51,0.00,0.0,0.0,2016.0
4,1.0,9.0,343590.44,0.0,395921.70,348380.49,172222.58,0.0,0.0,0.0,0.00,0.0,66989.40,77084.63,4626.53,1548.12,0.0,0.0,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15880,72.0,145.0,66875.40,0.0,57684.83,18543.05,10168.70,0.0,0.0,0.0,406860.10,0.0,144695.40,103763.72,109539.00,0.00,0.0,0.0,2020.0
15881,72.0,147.0,0.00,0.0,0.00,15033.90,4013.00,0.0,0.0,0.0,0.00,0.0,0.00,22412.60,1689.50,0.00,0.0,0.0,2020.0
15882,72.0,149.0,0.00,0.0,0.00,16637.40,0.00,0.0,0.0,0.0,0.00,0.0,10214.05,37566.21,11304.07,0.00,0.0,0.0,2020.0
15883,72.0,151.0,38735.60,0.0,266.50,23979.70,40755.80,0.0,0.0,0.0,18874.80,0.0,22300.10,94014.00,31340.90,0.00,0.0,0.0,2020.0
15884,72.0,153.0,0.00,0.0,0.00,0.00,26128.80,0.0,0.0,0.0,108234.41,0.0,0.00,51566.10,85513.50,0.00,0.0,0.0,2020.0

In [31]:
df['VMT_Total_daily'] = df['RINT'] + df['ROPA'] + df['UINT'] + df['UOPA']
vmt1 = df[['ST', 'CO','YEAR', 'VMT_Total_daily']]
#account for leap year in multiplication of daily values
vmt1.loc[vmt1['YEAR'].isin([2016,2020]), 'VMT_Total'] = vmt1['VMT_Total_daily'] * 366
vmt1.loc[vmt1['YEAR'].isin([2017,2018, 2019]), 'VMT_Total'] = vmt1['VMT_Total_daily'] * 365
vmt1

C:\Users\zapate\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1681: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = empty_value
C:\Users\zapate\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

         ST     CO    YEAR  VMT_Total_daily     VMT_Total
0       1.0    1.0  2016.0        955550.30  3.497314e+08
1       1.0    3.0  2016.0       4312954.56  1.578541e+09
2       1.0    5.0  2016.0        373019.00  1.365250e+08
3       1.0    7.0  2016.0        314759.37  1.152019e+08
4       1.0    9.0  2016.0        806501.54  2.951796e+08
...     ...    ...     ...              ...           ...
15880  72.0  145.0  2020.0        676115.73  2.474584e+08
15881  72.0  147.0  2020.0             0.00  0.000000e+00
15882  72.0  149.0  2020.0         10214.05  3.738342e+06
15883  72.0  151.0  2020.0         80177.00  2.934478e+07
15884  72.0  153.0  2020.0        108234.41  3.961379e+07

[15885 rows x 5 columns]

In [32]:
#check DC
#Update DC
df_dc = vmt1[vmt1['ST'] == 11]
df_dc_grouped = df_dc.drop(columns=['VMT_Total_daily']).groupby(['ST', 'YEAR']).sum(['VMT_Total']).reset_index()
df_dc_grouped = df_dc_grouped[['ST', 'CO','YEAR','VMT_Total', ]]
df_dc_grouped['CO'] = 1
df_dc_grouped

vmt1 = vmt1.drop(columns= ['VMT_Total_daily'])
vmt1 = vmt1[vmt1['ST'] != 11]
vmt1 = pd.concat((vmt1, df_dc_grouped),)
vmt1

      ST   CO    YEAR     VMT_Total
0    1.0  1.0  2016.0  3.497314e+08
1    1.0  3.0  2016.0  1.578541e+09
2    1.0  5.0  2016.0  1.365250e+08
3    1.0  7.0  2016.0  1.152019e+08
4    1.0  9.0  2016.0  2.951796e+08
..   ...  ...     ...           ...
0   11.0  1.0  2016.0  1.494248e+09
1   11.0  1.0  2017.0  1.546307e+09
2   11.0  1.0  2018.0  1.556905e+09
3   11.0  1.0  2019.0  1.587585e+09
4   11.0  1.0  2020.0  1.183557e+09

[15865 rows x 4 columns]

In [33]:
vmt1

      ST   CO    YEAR     VMT_Total
0    1.0  1.0  2016.0  3.497314e+08
1    1.0  3.0  2016.0  1.578541e+09
2    1.0  5.0  2016.0  1.365250e+08
3    1.0  7.0  2016.0  1.152019e+08
4    1.0  9.0  2016.0  2.951796e+08
..   ...  ...     ...           ...
0   11.0  1.0  2016.0  1.494248e+09
1   11.0  1.0  2017.0  1.546307e+09
2   11.0  1.0  2018.0  1.556905e+09
3   11.0  1.0  2019.0  1.587585e+09
4   11.0  1.0  2020.0  1.183557e+09

[15865 rows x 4 columns]

In [35]:
#remove puerto rice and move to csv
vmt1 = vmt1[vmt1['ST'] != 72]
vmt1[['ST', 'CO', 'YEAR','VMT_Total']].to_csv('County_VMT_2016_2020_INT_and_PrinAterial.csv' , index = False)