In [1]:
import pandas as pd 
pd.set_option('display.max_columns', 500)

from matplotlib import pyplot as plt

EV

In [2]:
EV_df = pd.read_csv('Model Data/EV Charging.csv')
EV_df = pd.melt(EV_df, id_vars = ['Row Labels', 'Scenario'], var_name = 'YEAR', value_name = 'EV Charging Count')
EV_df1, EV_df2 = EV_df[EV_df['Scenario'] == 1], EV_df[EV_df['Scenario'] == 2]

EV_df1 = EV_df1.rename(columns = {'EV Charging Count': 'EV Charging Scenario 1'})[['Row Labels', 'YEAR','EV Charging Scenario 1' ]]
EV_df2 = EV_df2.rename(columns = {'EV Charging Count': 'EV Charging Scenario 2'})[['Row Labels', 'YEAR','EV Charging Scenario 2' ]]

EV_df = EV_df1.merge(EV_df2, how = 'inner', on = ['Row Labels', 'YEAR'])
EV_df = EV_df.rename(columns={'Row Labels': 'FIPS'})
EV_df['FIPS'] = EV_df['FIPS'].astype('str')
EV_df

         FIPS  YEAR  EV Charging Scenario 1  EV Charging Scenario 2
0        1001  2000                0.000000                0.000000
1        1003  2000                0.000000                0.000000
2        1005  2000                0.000000                0.000000
3        1007  2000                0.000000                0.000000
4        1009  2000                0.000000                0.000000
...       ...   ...                     ...                     ...
147589  56037  2050               16.109631               17.745011
147590  56039  2050              112.767420              105.692556
147591  56041  2050                5.369877                7.679053
147592  56043  2050                0.000000                0.000000
147593  56045  2050                0.000000                0.000000

[147594 rows x 4 columns]

Telework

In [3]:
tele_df = pd.read_csv('Model Data/Telework.csv')
tele_df = pd.melt(tele_df, id_vars = ['Row Labels', 'Scenario'], var_name = 'YEAR', value_name = 'Telework')

tele_df1, tele_df2, tele_df3, tele_df4 = tele_df[tele_df['Scenario'] == 'Baseline'], tele_df[tele_df['Scenario'] == 'High'], tele_df[tele_df['Scenario'] == 'Low'], tele_df[tele_df['Scenario'] == 'Mixed']
tele_df1 = tele_df1.rename(columns = {'Telework':'Telework Baseline'})[['Row Labels', 'YEAR','Telework Baseline' ]]
tele_df2 = tele_df2.rename(columns = {'Telework':'Telework High'})[['Row Labels', 'YEAR','Telework High' ]]
tele_df3 = tele_df3.rename(columns = {'Telework':'Telework Low'})[['Row Labels', 'YEAR','Telework Low' ]]
tele_df4 = tele_df4.rename(columns = {'Telework':'Telework Mixed'})[['Row Labels', 'YEAR','Telework Mixed' ]]

tele_df = tele_df1.merge(tele_df2, how = 'inner', on = ['Row Labels', 'YEAR'])
tele_df = tele_df.merge(tele_df3, how = 'inner', on = ['Row Labels', 'YEAR'])
tele_df = tele_df.merge(tele_df4, how = 'inner', on = ['Row Labels', 'YEAR'])
tele_df = tele_df.rename(columns={'Row Labels': 'FIPS'})
tele_df['FIPS'] = tele_df['FIPS'].astype('str')


tele_df

,FIPS,YEAR,Telework Baseline,Telework High,Telework Low,Telework Mixed
0,1001,2000,0.000000,0.000000,0.000000,0.000000
1,1003,2000,0.000000,0.000000,0.000000,0.000000
2,1005,2000,0.000000,0.000000,0.000000,0.000000
3,1007,2000,0.000000,0.000000,0.000000,0.000000
4,1009,2000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...
147589,56037,2050,0.071249,0.087175,0.038567,0.066290
147590,56039,2050,0.093546,0.112992,0.047690,0.112992
147591,56041,2050,0.071249,0.087175,0.038567,0.066290
147592,56043,2050,0.061102,0.109964,0.053399,0.062392
147593,56045,2050,0.061102,0.109964,0.053399,0.062392

Unemployment

In [18]:
un_df = pd.read_csv('Model Data/Unemployment.csv')
un_df = pd.melt(un_df.drop(columns=['FIPS']), id_vars = ['FIPS_Txt', 'Scenario'], var_name = 'YEAR', value_name = 'Unemployment')

un_df1, un_df2, un_df3  = un_df[un_df['Scenario'] == 'High'], un_df[un_df['Scenario'] == 'Low'], un_df[un_df['Scenario'] == 'Baseline']
un_df1 = un_df1.rename(columns = {'Unemployment':'Unemployment High'})[['FIPS_Txt', 'YEAR','Unemployment High']]
un_df2 = un_df2.rename(columns = {'Unemployment':'Unemployment Low'})[['FIPS_Txt', 'YEAR','Unemployment Low']]
un_df3 = un_df3.rename(columns = {'Unemployment':'Unemployment Baseline'})[['FIPS_Txt', 'YEAR','Unemployment Baseline']]

un_df = un_df1.merge(un_df2,  how = 'inner', on = ['FIPS_Txt', 'YEAR'])
un_df = un_df.merge(un_df3,  how = 'inner', on = ['FIPS_Txt', 'YEAR'])
un_df = un_df.rename(columns={'FIPS_Txt': 'FIPS'})
un_df['FIPS'] = un_df['FIPS'].astype('str')
un_df

,FIPS,YEAR,Unemployment High,Unemployment Low,Unemployment Baseline
0,1001,2000,4.100000,4.100000,4.100000
1,1003,2000,3.700000,3.700000,3.700000
2,1005,2000,5.600000,5.600000,5.600000
3,1007,2000,5.400000,5.400000,5.400000
4,1009,2000,3.500000,3.500000,3.500000
...,...,...,...,...,...
147589,56037,2050,5.035887,6.346893,5.431153
147590,56039,2050,3.654277,4.605604,3.941100
147591,56041,2050,4.751734,5.988765,5.124696
147592,56043,2050,4.217391,5.315316,4.548413
147593,56045,2050,3.466041,4.368365,3.738090

Lane Miles

In [14]:
lm_df = pd.read_csv('Model Data/Lane Miles.csv')
lm_df = pd.melt(lm_df.drop(columns=['GEMS_Typo']), id_vars = ['Row Labels', 'Scenario'], var_name = 'YEAR', value_name = 'Lane Miles')

lm_df1, lm_df2, lm_df3= lm_df[lm_df['Scenario'] == 'Baseline'], lm_df[lm_df['Scenario'] == 'Upper'], lm_df[lm_df['Scenario'] == 'Lower']
lm_df1 = lm_df1.rename(columns = {'Lane Miles':'Lane Miles Baseline'})[['Row Labels', 'YEAR','Lane Miles Baseline' ]]
lm_df2 = lm_df2.rename(columns = {'Lane Miles':'Lane Miles Upper'})[['Row Labels', 'YEAR','Lane Miles Upper' ]]
lm_df3 = lm_df3.rename(columns = {'Lane Miles':'Lane Miles Lower'})[['Row Labels', 'YEAR','Lane Miles Lower' ]]

lm_df = lm_df1.merge(lm_df2, how = 'inner', on = ['Row Labels', 'YEAR'])
lm_df = lm_df.merge(lm_df3, how = 'inner', on = ['Row Labels', 'YEAR'])
lm_df = lm_df.rename(columns={'Row Labels': 'FIPS'})
lm_df['FIPS'] = lm_df['FIPS'].astype('str')

lm_df

         FIPS  YEAR  Lane Miles Baseline  Lane Miles Upper  Lane Miles Lower
0        1001  2000          1980.320000       1980.320000       1980.320000
1        1003  2000          4905.660000       4905.660000       4905.660000
2        1005  2000          2479.120000       2479.120000       2479.120000
3        1007  2000          1804.750000       1804.750000       1804.750000
4        1009  2000          2763.560000       2763.560000       2763.560000
...       ...   ...                  ...               ...               ...
147589  56037  2050          5534.175403       8835.531223       5252.604000
147590  56039  2050          1475.236000       1475.236000       1475.236000
147591  56041  2050          1615.570000       1615.570000       1615.570000
147592  56043  2050          1371.434000       4805.391130       1645.947528
147593  56045  2050          1888.885435       1726.950000       1726.950000

[147594 rows x 5 columns]

GDP

In [8]:
gdp_df = pd.read_csv('Model Data/GDP.csv')
gdp_df = pd.melt(gdp_df.drop(columns=['FIPS_Txt', 'State_FIPS']), id_vars = ['Row Labels', 'Scenario', 'EIA_Region'], var_name = 'YEAR', value_name = 'GDP')

gdp_df1, gdp_df2, gdp_df3, gdp_df4 = gdp_df[gdp_df['Scenario'] == 'EIA Real'], gdp_df[gdp_df['Scenario'] == 'EIA Real Low'], gdp_df[gdp_df['Scenario'] == 'EIA Real High'], gdp_df[gdp_df['Scenario'] == 'Linear']
gdp_df1 = gdp_df1.rename(columns = {'GDP':'EIA REAL'})[['Row Labels', 'YEAR','EIA REAL', 'EIA_Region' ]]
gdp_df2 = gdp_df2.rename(columns = {'GDP':'EIA Real Low'})[['Row Labels', 'YEAR','EIA Real Low', 'EIA_Region' ]]
gdp_df3 = gdp_df3.rename(columns = {'GDP':'EIA Real High'})[['Row Labels', 'YEAR','EIA Real High', 'EIA_Region' ]]
gdp_df4 = gdp_df4.rename(columns = {'GDP':'Linear'})[['Row Labels', 'YEAR','Linear', 'EIA_Region' ]]

gdp_df = gdp_df1.merge(gdp_df2, how = 'inner', on = ['Row Labels', 'YEAR', 'EIA_Region'])
gdp_df = gdp_df.merge(gdp_df3, how = 'inner', on = ['Row Labels', 'YEAR', 'EIA_Region'])
gdp_df = gdp_df.merge(gdp_df4, how = 'inner', on = ['Row Labels', 'YEAR', 'EIA_Region'])
gdp_df = gdp_df.rename(columns={'Row Labels': 'FIPS'})
gdp_df['FIPS'] = gdp_df['FIPS'].astype('str')

gdp_df

,FIPS,YEAR,EIA REAL,EIA_Region,EIA Real Low,EIA Real High,Linear
0,1001,2001,9.498000e+05,CGSP_ESC,9.498000e+05,9.498000e+05,9.498000e+05
1,1003,2001,4.007706e+06,CGSP_ESC,4.007706e+06,4.007706e+06,4.007706e+06
2,1005,2001,8.127510e+05,CGSP_ESC,8.127510e+05,8.127510e+05,8.127510e+05
3,1007,2001,2.924950e+05,CGSP_ESC,2.924950e+05,2.924950e+05,2.924950e+05
4,1009,2001,8.100540e+05,CGSP_ESC,8.100540e+05,8.100540e+05,8.100540e+05
...,...,...,...,...,...,...,...
144795,56041,2050,1.474141e+06,CGSP_MTN,1.287530e+06,1.646285e+06,3.911521e+05
144796,56043,2050,6.475153e+05,CGSP_MTN,5.655465e+05,7.231293e+05,3.596674e+05
144797,56045,2050,5.489314e+05,CGSP_MTN,4.794423e+05,6.130332e+05,3.113950e+05
144798,(blank),2050,0.000000e+00,NaN,0.000000e+00,0.000000e+00,NaN
144799,Grand Total,2050,1.817737e+10,NaN,1.587630e+10,2.030004e+10,NaN

POP

In [9]:
pop_df = pd.read_csv('Model Data/Population.csv')
pop_df = pd.melt(pop_df.drop(columns=['FIPS']), id_vars = ['FIPS_Txt', 'Scenario'], var_name = 'YEAR', value_name = 'Pop')

pop_df1, pop_df2, pop_df3 = pop_df[pop_df['Scenario'] == 'Linear'], pop_df[pop_df['Scenario'] == 'No Loss'], pop_df[pop_df['Scenario'] == 'Cagr 10 Year']
pop_df1 = pop_df1.rename(columns = {'Pop':'Pop Linear'})[['FIPS_Txt', 'YEAR','Pop Linear', ]]
pop_df2 = pop_df2.rename(columns = {'Pop':'Pop No Loss'})[['FIPS_Txt', 'YEAR','Pop No Loss', ]]
pop_df3 = pop_df3.rename(columns = {'Pop':'Pop Cagr 10 Year'})[['FIPS_Txt', 'YEAR','Pop Cagr 10 Year', ]]

pop_df = pop_df1.merge(pop_df2, how = 'inner', on =  ['FIPS_Txt', 'YEAR'])
pop_df = pop_df.merge(pop_df3, how = 'inner', on =  ['FIPS_Txt', 'YEAR'])
pop_df = pop_df.rename(columns={'FIPS_Txt': 'FIPS'})
pop_df['FIPS'] = pop_df['FIPS'].astype('str')

pop_df

         FIPS  YEAR   Pop Linear  Pop No Loss Pop Cagr 10 Year
0        1001  2000        44021        44021            44021
1        1003  2000       141342       141342           141342
2        1005  2000        29015        29015            29015
3        1007  2000        19913        19913            19913
4        1009  2000        51107        51107            51107
...       ...   ...          ...          ...              ...
147589  56037  2050  56531.57143        42190      38296.21162
147590  56039  2050  32489.06061  32489.06061       30921.5313
147591  56041  2050  22819.80087        20457      18672.38615
147592  56043  2050  7923.926407         7658      5541.334342
147593  56045  2050  7934.619048         6818      5794.186376

[147594 rows x 5 columns]

Join Together

In [19]:
final_df = pop_df.merge(gdp_df, how = 'outer', on = ['FIPS', 'YEAR'])
final_df = final_df.merge(EV_df, how = 'outer', on = ['FIPS', 'YEAR'])
final_df = final_df.merge(lm_df, how = 'outer', on = ['FIPS', 'YEAR'])
final_df = final_df.merge(tele_df, how = 'outer', on = ['FIPS', 'YEAR'])
final_df = final_df.merge(un_df, how = 'outer', on = ['FIPS', 'YEAR'])
final_df = final_df[final_df['FIPS'] != 'Grand Total']
final_df = final_df[final_df['FIPS'] != '(blank)']

final_df

,FIPS,YEAR,Pop Linear,Pop No Loss,Pop Cagr 10 Year,EIA REAL,EIA_Region,EIA Real Low,EIA Real High,Linear,EV Charging Scenario 1,EV Charging Scenario 2,Lane Miles Baseline,Lane Miles Upper,Lane Miles Lower,Telework Baseline,Telework High,Telework Low,Telework Mixed,Unemployment High,Unemployment Low,Unemployment Baseline
0,1001,2000,44021,44021,44021,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1980.320000,1980.320000,1980.320000,0.000000,0.000000,0.000000,0.000000,4.100000,4.100000,4.100000
1,1003,2000,141342,141342,141342,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,4905.660000,4905.660000,4905.660000,0.000000,0.000000,0.000000,0.000000,3.700000,3.700000,3.700000
2,1005,2000,29015,29015,29015,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2479.120000,2479.120000,2479.120000,0.000000,0.000000,0.000000,0.000000,5.600000,5.600000,5.600000
3,1007,2000,19913,19913,19913,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1804.750000,1804.750000,1804.750000,0.000000,0.000000,0.000000,0.000000,5.400000,5.400000,5.400000
4,1009,2000,51107,51107,51107,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2763.560000,2763.560000,2763.560000,0.000000,0.000000,0.000000,0.000000,3.500000,3.500000,3.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147589,56037,2050,56531.57143,42190,38296.21162,6.276041e+06,CGSP_MTN,5.481559e+06,7.008930e+06,3.654174e+06,16.109631,17.745011,5534.175403,8835.531223,5252.604000,0.071249,0.087175,0.038567,0.066290,5.035887,6.346893,5.431153
147590,56039,2050,32489.06061,32489.06061,30921.5313,4.330702e+06,CGSP_MTN,3.782480e+06,4.836422e+06,3.514231e+06,112.767420,105.692556,1475.236000,1475.236000,1475.236000,0.093546,0.112992,0.047690,0.112992,3.654277,4.605604,3.941100
147591,56041,2050,22819.80087,20457,18672.38615,1.474141e+06,CGSP_MTN,1.287530e+06,1.646285e+06,3.911521e+05,5.369877,7.679053,1615.570000,1615.570000,1615.570000,0.071249,0.087175,0.038567,0.066290,4.751734,5.988765,5.124696
147592,56043,2050,7923.926407,7658,5541.334342,6.475153e+05,CGSP_MTN,5.655465e+05,7.231293e+05,3.596674e+05,0.000000,0.000000,1371.434000,4805.391130,1645.947528,0.061102,0.109964,0.053399,0.062392,4.217391,5.315316,4.548413
147593,56045,2050,7934.619048,6818,5794.186376,5.489314e+05,CGSP_MTN,4.794423e+05,6.130332e+05,3.113950e+05,0.000000,0.000000,1888.885435,1726.950000,1726.950000,0.061102,0.109964,0.053399,0.062392,3.466041,4.368365,3.738090

In [20]:
percent_missing = final_df.isnull().sum() * 100 / len(final_df)
missing_value_df = pd.DataFrame({'column_name': final_df.columns,
                                 'percent_missing': percent_missing})
missing_value_df

                                   column_name  percent_missing
FIPS                                      FIPS         0.000000
YEAR                                      YEAR         0.000000
Pop Linear                          Pop Linear         0.000000
Pop No Loss                        Pop No Loss         0.000000
Pop Cagr 10 Year              Pop Cagr 10 Year         0.000000
EIA REAL                              EIA REAL         1.960784
EIA_Region                          EIA_Region         1.960784
EIA Real Low                      EIA Real Low         1.960784
EIA Real High                    EIA Real High         1.960784
Linear                                  Linear         1.960784
EV Charging Scenario 1  EV Charging Scenario 1         0.000000
EV Charging Scenario 2  EV Charging Scenario 2         0.000000
Lane Miles Baseline        Lane Miles Baseline         0.000000
Lane Miles Upper              Lane Miles Upper         0.000000
Lane Miles Lower              Lane Miles Lower         0.000000
Telework Baseline            Telework Baseline         0.000000
Telework High                    Telework High         0.000000
Telework Low                      Telework Low         0.000000
Telework Mixed                  Telework Mixed         0.000000
Unemployment High            Unemployment High         0.000000
Unemployment Low              Unemployment Low         0.000000
Unemployment Baseline    Unemployment Baseline         0.000000

In [21]:
final_df.to_csv('forecasting_data.csv', index = False)