In [54]:
import pandas as pd

In [55]:
def melt_df(df, data_name):
    years = ['2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034',
       '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042', '2043',
       '2044', '2045', '2046', '2047', '2048', '2049', '2050']
    
    melted_df = pd.melt(df, id_vars = 'FIPS', value_vars = years, ignore_index= True).reset_index()
    melted_df = melted_df.rename(columns={'variable':'YEAR', 'value':data_name}).drop(columns='index')
    return(melted_df)

In [56]:
df = pd.read_csv('Forecast_Data 1_2_2024.csv')

c:\Users\zapate\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [57]:
cap_fund = pd.read_csv('Capital Funding.csv')
cap_fund = cap_fund.rename(columns={'Row Labels':'FIPS'})
cap_fund = melt_df(cap_fund, 'capital_transit_funding')
cap_fund['capital_transit_funding'] = (pd.to_numeric(cap_fund['capital_transit_funding'], errors= 'coerce').fillna(0))
cap_fund = cap_fund[cap_fund['FIPS'] != 'Grand Total']
cap_fund = cap_fund[cap_fund['FIPS'] != '(blank)']
cap_fund

        FIPS  YEAR  capital_transit_funding
0       1001  2005             2.115639e+06
1       1003  2005             2.780840e+05
2       1009  2005             1.021020e+06
3       1033  2005             0.000000e+00
4       1051  2005             2.644549e+06
...      ...   ...                      ...
28191  55131  2050             5.017573e+06
28192  55133  2050             9.834296e+06
28193  55139  2050             3.684717e+06
28194  56021  2050             4.107205e+05
28195  56025  2050             1.685357e+05

[28106 rows x 3 columns]

In [58]:
cap_fund['FIPS'] = cap_fund['FIPS'].astype(int)
cap_fund['YEAR'] = cap_fund['YEAR'].astype(int)

In [59]:
df = pd.merge(df, cap_fund, how = 'outer', on = ['YEAR', 'FIPS'])

In [60]:
df

,FIPS,YEAR,Pop Linear,Pop 10 CAGR,Pop No Loss,Transit,EV 1,EV 2,Real GDP,Real GDP Low,...,Unemployment High Econ,Unemployment Low Econ,Courier Baseline,Courier High,Courier Low,Driver Rev,Driver Rev Baseline,Driver Rev High,Driver Rev Low,capital_transit_funding
0,1001,2005,49676.0,49676.0,49676.0,4.316215e+05,0.0,0.0,1195319.0,1195319.0,...,3.8,3.8,76923.07692,76923.07692,76923.07692,0.0,0.000,0.000,0.000,2115639.332
1,1003,2005,162183.0,162183.0,162183.0,2.536278e+06,0.0,0.0,5502688.0,5502688.0,...,4.0,4.0,848205.12820,848205.12820,848205.12820,40000.0,2051282.051,2051282.051,2051282.051,278084.000
2,1005,2005,28027.0,28027.0,28027.0,0.000000e+00,0.0,0.0,892271.0,892271.0,...,5.7,5.7,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000,NaN
3,1007,2005,22042.0,22042.0,22042.0,0.000000e+00,0.0,0.0,322815.0,322815.0,...,4.4,4.4,53846.15385,53846.15385,53846.15385,0.0,0.000,0.000,0.000,NaN
4,1009,2005,54624.0,54624.0,54624.0,1.731749e+06,0.0,0.0,887578.0,887578.0,...,3.6,3.6,688205.12820,688205.12820,688205.12820,0.0,0.000,0.000,0.000,1021020.099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144188,15009,2046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2444922.628
144189,15009,2047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2466443.833
144190,15009,2048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486554.741
144191,15009,2049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2506389.667
144192,15009,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2539049.624

In [61]:
modeling_dataset = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/County_Year2_1_10_24.csv')
modeling_dataset = modeling_dataset[modeling_dataset['YEAR'] == 2020]
modeling_dataset = modeling_dataset[['Full_FIPS_Code', 'ALAND_SQMI']].drop_duplicates()
modeling_dataset = modeling_dataset.rename(columns = {'Full_FIPS_Code':'FIPS'})
modeling_dataset = modeling_dataset.dropna()
modeling_dataset.sort_values('FIPS')

        FIPS  ALAND_SQMI
1188    1001     594.456
1189    1003    1589.836
1193    1005     885.008
1194    1007     622.470
1195    1009     644.891
...      ...         ...
65260  72145      45.848
65261  72147      50.788
65262  72149      35.637
65263  72151      55.215
65264  72153      67.711

[3221 rows x 2 columns]

In [62]:
df = pd.merge(df, modeling_dataset, how = 'left', on = [ 'FIPS'])
df['ALAND_SQMI'] = (pd.to_numeric(df['ALAND_SQMI'], errors='coerce').fillna(0))

In [65]:
df['POPDENSITY'] = df['Pop Linear'] / df['ALAND_SQMI']
df['POPDENSITY'] = (pd.to_numeric(df['POPDENSITY'], errors='coerce').fillna(0))

In [66]:
df.drop_duplicates().to_csv('Forecast_Data 1_16_2024.csv', index = False)

In [67]:
df

,FIPS,YEAR,Pop Linear,Pop 10 CAGR,Pop No Loss,Transit,EV 1,EV 2,Real GDP,Real GDP Low,...,Courier Baseline,Courier High,Courier Low,Driver Rev,Driver Rev Baseline,Driver Rev High,Driver Rev Low,capital_transit_funding,ALAND_SQMI,POPDENSITY
0,1001,2005,49676.0,49676.0,49676.0,4.316215e+05,0.0,0.0,1195319.0,1195319.0,...,76923.07692,76923.07692,76923.07692,0.0,0.000,0.000,0.000,2115639.332,594.456,83.565478
1,1003,2005,162183.0,162183.0,162183.0,2.536278e+06,0.0,0.0,5502688.0,5502688.0,...,848205.12820,848205.12820,848205.12820,40000.0,2051282.051,2051282.051,2051282.051,278084.000,1589.836,102.012409
2,1005,2005,28027.0,28027.0,28027.0,0.000000e+00,0.0,0.0,892271.0,892271.0,...,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000,NaN,885.008,31.668640
3,1007,2005,22042.0,22042.0,22042.0,0.000000e+00,0.0,0.0,322815.0,322815.0,...,53846.15385,53846.15385,53846.15385,0.0,0.000,0.000,0.000,NaN,622.470,35.410542
4,1009,2005,54624.0,54624.0,54624.0,1.731749e+06,0.0,0.0,887578.0,887578.0,...,688205.12820,688205.12820,688205.12820,0.0,0.000,0.000,0.000,1021020.099,644.891,84.702686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144188,15009,2046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2444922.628,1161.530,0.000000
144189,15009,2047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2466443.833,1161.530,0.000000
144190,15009,2048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486554.741,1161.530,0.000000
144191,15009,2049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2506389.667,1161.530,0.000000
144192,15009,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2539049.624,1161.530,0.000000