In [1]:
import pandas as pd

In [2]:
def melt_df(df, data_name):
    years = ['2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034',
       '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042', '2043',
       '2044', '2045', '2046', '2047', '2048', '2049', '2050']
    
    melted_df = pd.melt(df, id_vars = 'FIPS', value_vars = years, ignore_index= True).reset_index()
    melted_df = melted_df.rename(columns={'variable':'YEAR', 'value':data_name}).drop(columns='index')
    return(melted_df)

In [3]:
#population
df_pop_lin = melt_df(pd.read_csv('Population Linear.csv'), 'Pop Linear')
df_pop_cagr = melt_df(pd.read_csv('Pop 10 Year CAGR.csv'), 'Pop 10 CAGR')
df_pop_no_loss = melt_df(pd.read_csv('Population No Loss.csv'), 'Pop No Loss')

df = pd.merge(df_pop_lin, df_pop_cagr, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_pop_no_loss, how = 'outer', on = ['YEAR', 'FIPS'])

In [4]:
#transitn upt
df_tran = melt_df(pd.read_csv('Transit CAGR.csv'), 'Transit')

df = pd.merge(df, df_tran, how = 'outer', on = ['YEAR', 'FIPS'])

In [5]:
#EV Charging
df_ev1 = melt_df(pd.read_csv('Charging Station 1.csv'), 'EV 1')
df_ev2 = melt_df(pd.read_csv('Charging Station 2.csv'), 'EV 2')

df = pd.merge(df, df_ev1, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_ev2, how = 'outer', on = ['YEAR', 'FIPS'])

In [6]:
#GDP
df_gdp = melt_df(pd.read_csv('EIA Real GDP.csv'), 'Real GDP')
df_gdplow = melt_df(pd.read_csv('EIA Real GDP High.csv'), 'Real GDP Low')
df_gdphigh = melt_df(pd.read_csv('EIA Real GDP Low.csv'), 'Real GDP High')

df = pd.merge(df, df_gdp, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_gdplow, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_gdphigh, how = 'outer', on = ['YEAR', 'FIPS'])

In [7]:
#lane miles
df_lm1 = melt_df(pd.read_csv('Lane Miles 1.csv'), 'Lane Miles 1')
df_lm2 = melt_df(pd.read_csv('Lane Miles 2.csv'), 'Lane Miles 2')
df_lm3 = melt_df(pd.read_csv('Lane Miles 3.csv'), 'Lane Miles 3')

df = pd.merge(df, df_lm1, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_lm2, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_lm3, how = 'outer', on = ['YEAR', 'FIPS'])
df

,FIPS,YEAR,Pop Linear,Pop 10 CAGR,Pop No Loss,Transit,EV 1,EV 2,Real GDP,Real GDP Low,Real GDP High,Lane Miles 1,Lane Miles 2,Lane Miles 3
0,1001,2005,49676.0,49676,49676,4.316215e+05,0.0,0.0,1195319.0,1195319.0,1195319.0,1648.580,1648.580,1648.58
1,1003,2005,162183.0,162183,162183,2.536278e+06,0.0,0.0,5502688.0,5502688.0,5502688.0,4915.608,4915.608,4915.608
2,1005,2005,28027.0,28027,28027,NaN,0.0,0.0,892271.0,892271.0,892271.0,2366.156,2366.156,2366.156
3,1007,2005,22042.0,22042,22042,NaN,0.0,0.0,322815.0,322815.0,322815.0,1767.491,1767.491,1767.491
4,1009,2005,54624.0,54624,54624,1.731749e+06,0.0,0.0,887578.0,887578.0,887578.0,2629.284,2629.284,2629.284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146413,29193,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,#DIV/0!
146414,30113,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,#DIV/0!
146415,51560,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0
146416,51780,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0
146417,56047,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0

In [8]:
#Telework
df_tele1 = melt_df(pd.read_csv('Telework 1.csv'), 'Telework 1')
df_tele2 = melt_df(pd.read_csv('Telework 2.csv'), 'Telework 2')
df_tele3 = melt_df(pd.read_csv('Telework 3.csv'), 'Telework 3')
df_tele4 = melt_df(pd.read_csv('Telework 4.csv'), 'Telework 4')

df = pd.merge(df, df_tele1, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_tele2, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_tele3, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_tele4, how = 'outer', on = ['YEAR', 'FIPS'])
df

,FIPS,YEAR,Pop Linear,Pop 10 CAGR,Pop No Loss,Transit,EV 1,EV 2,Real GDP,Real GDP Low,Real GDP High,Lane Miles 1,Lane Miles 2,Lane Miles 3,Telework 1,Telework 2,Telework 3,Telework 4
0,1001,2005,49676.0,49676,49676,4.316215e+05,0.0,0.0,1195319.0,1195319.0,1195319.0,1648.580,1648.580,1648.58,0.014285,0.014285,0.014285,0.014285
1,1003,2005,162183.0,162183,162183,2.536278e+06,0.0,0.0,5502688.0,5502688.0,5502688.0,4915.608,4915.608,4915.608,0.017183,0.017183,0.017183,0.017183
2,1005,2005,28027.0,28027,28027,NaN,0.0,0.0,892271.0,892271.0,892271.0,2366.156,2366.156,2366.156,0.028816,0.028816,0.028816,0.028816
3,1007,2005,22042.0,22042,22042,NaN,0.0,0.0,322815.0,322815.0,322815.0,1767.491,1767.491,1767.491,0.013180,0.013180,0.013180,0.013180
4,1009,2005,54624.0,54624,54624,1.731749e+06,0.0,0.0,887578.0,887578.0,887578.0,2629.284,2629.284,2629.284,0.019546,0.019546,0.019546,0.019546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146413,29193,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,#DIV/0!,NaN,NaN,NaN,NaN
146414,30113,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,#DIV/0!,NaN,NaN,NaN,NaN
146415,51560,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0,NaN,NaN,NaN,NaN
146416,51780,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0,NaN,NaN,NaN,NaN
146417,56047,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0,NaN,NaN,NaN,NaN

In [9]:
#Unemployment
df_unemp_ma = melt_df(pd.read_csv('Unemployment MA.csv'), 'Unemployment MA')
df_unemp_high = melt_df(pd.read_csv('Unemployment High Econ.csv'), 'Unemployment High Econ')
df_unemp_low = melt_df(pd.read_csv('Unemployment Low Econ.csv'), 'Unemployment Low Econ')

df = pd.merge(df, df_unemp_ma, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_unemp_high, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_unemp_low, how = 'outer', on = ['YEAR', 'FIPS'])

In [10]:
#courier revenue
df_courier_base = melt_df(pd.read_csv('Courier Forecast Baseline.csv'), 'Courier Baseline')
df_courier_High = melt_df(pd.read_csv('Courier Forecast High.csv'), 'Courier High')
df_courier_Low = melt_df(pd.read_csv('Courier Forecast Low.csv'), 'Courier Low')

df = pd.merge(df, df_courier_base, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_courier_High, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_courier_Low, how = 'outer', on = ['YEAR', 'FIPS'])

In [11]:
#Driver rev
df_driver_base = melt_df(pd.read_csv('Driver Rev Forecast .csv'), 'Driver Rev')
df_driver_Baseline = melt_df(pd.read_csv('Driver Rev Baseline.csv'), 'Driver Rev Baseline')
df_driver_High = melt_df(pd.read_csv('Driver Rev High.csv'), 'Driver Rev High')
df_driver_Low = melt_df(pd.read_csv('Driver Rev Low.csv'), 'Driver Rev Low')

df = pd.merge(df, df_driver_base, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_driver_Baseline, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_driver_High, how = 'outer', on = ['YEAR', 'FIPS'])
df = pd.merge(df, df_driver_Low, how = 'outer', on = ['YEAR', 'FIPS'])

In [12]:
#fill na where accurate
df['EV 1'] = (pd.to_numeric(df['EV 1'], errors='coerce').fillna(0))
df['EV 2'] = (pd.to_numeric(df['EV 2'], errors='coerce').fillna(0))
df['Lane Miles 1'] = (pd.to_numeric(df['Lane Miles 1'], errors='coerce').fillna(0))
df['Lane Miles 2'] = (pd.to_numeric(df['Lane Miles 2'], errors='coerce').fillna(0))
df['Lane Miles 3'] = (pd.to_numeric(df['Lane Miles 3'], errors='coerce').fillna(0))
df['Telework 1'] = (pd.to_numeric(df['Telework 1'], errors='coerce').fillna(0))
df['Telework 2'] = (pd.to_numeric(df['Telework 2'], errors='coerce').fillna(0))
df['Telework 3'] = (pd.to_numeric(df['Telework 3'], errors='coerce').fillna(0))
df['Telework 4'] = (pd.to_numeric(df['Telework 4'], errors='coerce').fillna(0))
df['Transit'] = (pd.to_numeric(df['Transit'], errors='coerce').fillna(0))
df['Driver Rev'] = (pd.to_numeric(df['Driver Rev'], errors='coerce').fillna(0))
df['Driver Rev High'] = (pd.to_numeric(df['Driver Rev High'], errors='coerce').fillna(0))
df['Driver Rev Low'] = (pd.to_numeric(df['Driver Rev Low'], errors='coerce').fillna(0))
df['Driver Rev Baseline'] = (pd.to_numeric(df['Driver Rev Baseline'], errors='coerce').fillna(0))
df['Courier Baseline'] = (pd.to_numeric(df['Courier Baseline'], errors='coerce').fillna(0))
df['Courier High'] = (pd.to_numeric(df['Courier High'], errors='coerce').fillna(0))
df['Courier Low'] = (pd.to_numeric(df['Courier Low'], errors='coerce').fillna(0))


df

,FIPS,YEAR,Pop Linear,Pop 10 CAGR,Pop No Loss,Transit,EV 1,EV 2,Real GDP,Real GDP Low,...,Unemployment MA,Unemployment High Econ,Unemployment Low Econ,Courier Baseline,Courier High,Courier Low,Driver Rev,Driver Rev Baseline,Driver Rev High,Driver Rev Low
0,1001,2005,49676.0,49676,49676,4.316215e+05,0.0,0.0,1195319.0,1195319.0,...,3.8,3.8,3.8,76923.07692,76923.07692,76923.07692,0.0,0.000,0.000,0.000
1,1003,2005,162183.0,162183,162183,2.536278e+06,0.0,0.0,5502688.0,5502688.0,...,4.0,4.0,4.0,848205.12820,848205.12820,848205.12820,40000.0,2051282.051,2051282.051,2051282.051
2,1005,2005,28027.0,28027,28027,0.000000e+00,0.0,0.0,892271.0,892271.0,...,5.7,5.7,5.7,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000
3,1007,2005,22042.0,22042,22042,0.000000e+00,0.0,0.0,322815.0,322815.0,...,4.4,4.4,4.4,53846.15385,53846.15385,53846.15385,0.0,0.000,0.000,0.000
4,1009,2005,54624.0,54624,54624,1.731749e+06,0.0,0.0,887578.0,887578.0,...,3.6,3.6,3.6,688205.12820,688205.12820,688205.12820,0.0,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146413,29193,2050,NaN,NaN,NaN,0.000000e+00,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000
146414,30113,2050,NaN,NaN,NaN,0.000000e+00,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000
146415,51560,2050,NaN,NaN,NaN,0.000000e+00,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000
146416,51780,2050,NaN,NaN,NaN,0.000000e+00,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000
146417,56047,2050,NaN,NaN,NaN,0.000000e+00,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.0,0.000,0.000,0.000

In [13]:
df = df.dropna()

In [14]:
df[['FIPS', 'YEAR']].groupby('YEAR').count()

      FIPS
YEAR
2005  3123
2006  3123
2007  3130
2008  3130
2009  3130
2010  3133
2011  3133
2012  3133
2013  3132
2014  3132
2015  3132
2016  3132
2017  3132
2018  3132
2019  3132
2020  3132
2021  3135
2022  3135
2023  3135
2024  3135
2025  3135
2026  3135
2027  3135
2028  3135
2029  3135
2030  3135
2031  3135
2032  3135
2033  3135
2034  3135
2035  3135
2036  3135
2037  3135
2038  3135
2039  3135
2040  3135
2041  3135
2042  3135
2043  3135
2044  3135
2045  3135
2046  3135
2047  3135
2048  3135
2049  3135
2050  3135

In [15]:
df.to_csv('Forecast_Data 12_18_2023.csv', index = False)