## This script concatenates the GHG numbers used with the NEI Onroad estimates.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('2008/COUNTY_GHG_2008.csv')
df

      state_and_county_fips_code  total_emissions  YEAR
0                           9001     4.132524e+06  2008
1                           9003     4.219697e+06  2008
2                           9005     6.749110e+05  2008
3                           9007     9.179930e+05  2008
4                           9009     3.858755e+06  2008
...                          ...              ...   ...
3160                       56037     5.689132e+05  2008
3161                       56039     1.445953e+05  2008
3162                       56041     2.648883e+05  2008
3163                       56043     5.329461e+04  2008
3164                       56045     5.913796e+04  2008

[3165 rows x 3 columns]

In [9]:
df_title_list = ['2008/COUNTY_GHG_2008.csv', '2011/COUNTY_GHG_2011.csv', '2014/COUNTY_GHG_2014.csv',
                 '2017/COUNTY_GHG_2017.csv', '2020/COUNTY_GHG_2020.csv']

final_df = None
for i in df_title_list:
    df = pd.read_csv(i)
    df.columns = ['FIPS_CODE', 'TOTAL_EMISSIONS', 'YEAR']
    final_df = pd.concat([final_df, df])

In [10]:
final_df

      FIPS_CODE  TOTAL_EMISSIONS  YEAR
0          9001     4.132524e+06  2008
1          9003     4.219697e+06  2008
2          9005     6.749110e+05  2008
3          9007     9.179930e+05  2008
4          9009     3.858755e+06  2008
...         ...              ...   ...
3223      56045     6.585012e+04  2020
3224      88180     3.586519e+00  2020
3225      88181     5.683000e+00  2020
3226      88182     1.391043e+01  2020
3227      88183     7.978737e-02  2020

[16067 rows x 3 columns]

In [12]:
final_df.to_csv('GHG_COUNTY_ALL.csv', index = False)